.badge-success:hover {
    background-color: #306b4f !important;
}

.badge-dark:hover {
    background-color: #474b4f !important;
}

.badge-light:hover {
    background-color: #53575b !important;
    color: white !important;
}
